@{
    ViewData["Title"] = "Eyecare";
}

@using PlusMinus.Core.Models;
@model Eyecare;

<div class="product_panel">
    <div class="product_up">
        <h4 class="product_up_title">@Model.Name</h4>
    </div>
    <div class="product_down">
        <div class="product_left">
            <img src="@Model.Image" alt="" class="product_left_img">
        </div>
        <div class="product_right">
            <h4 class="product_up_title">@Model.Price грн</h4>
            <p>Про товар:</p>

            <label>Призначення:</label>
            <label>@Model.Purpose</label><br>

            <label>Об'єм:</label>
            <label>@Model.Volume</label><br>

            <label>Бренд:</label>
            <label>@Model.Brand</label><br>

            <button class="product_submit">Додати до кошика</button>
        </div>
    </div>
</div>