@model IEnumerable<PlusMinus.Core.Models.Eyecare>

@{
    ViewData["Title"] = "Список продуктів догляду";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Догляд за очами</h1>

<p>
    <a asp-action="CreateEyecare" class="btn btn-success">Створити новий продукт догляду</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Назва</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BrandSortParam"]">Виробник</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VolumeSortParam"]">Об'єм (мл)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PurposeSortParam"]">Назначення</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]">Вартість</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParam"]">Кількість</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="EditEyecare" asp-route-id="@item.ProductId" class="btn btn-success">Edit</a>
                <a asp-action="EyecareDetails" asp-route-id="@item.ProductId" class="btn btn-info">Details</a>
                <a asp-action="DeleteEyecare" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
